.newevent {
  flex: 4;
}

.addeventForm {
  margin-top: 10px;
}

.addeventItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addeventItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addeventItem > input {
  padding: 10px;
}

.addeventItem > select {
  padding: 10px;
}

.addeventButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
